TELEGRAM_BOT_TOKEN=8877447724:AAEOFnUqenCQexh4EpiGA3qXbsqR1ksdjGA
TELEGRAM_CHAT_ID=7429095670,

GITLAB_URL=https://gitlab.com/zakariakharroubi21/devsecops-telegram-agent
GITLAB_TOKEN=glpat-ML6qR1WTNcNgEVjAafVHH2M6MQpvOjEKdTpra2VhZg8.01.171ag4mar
GITLAB_PROJECT_ID=82727377
GITLAB_REF=main